<div class="container">
  <div *ngIf="data.length >0;else other_content">
    <md-list>
      <div *ngFor="let link of data">
        <div class='row'>
          <div class='col-sm-6'>
            <md-list-item>
              <a [href]="sanitize(link.magnet)" md-line>
                <md-icon>keyboard_tab</md-icon>
              </a>
              <p md-line><b>{{link.movie_title}}</b></p>
              <p md-line><i>{{link.title}}</i></p>
              <p md-line>
                Seeder: {{link.SE}} Leechers: {{link.LE}}
              </p>
              <p md-line>
                Trusted: {{link.trusted}} VIP: {{link.vip}}
              </p>
            </md-list-item>
            <md-divider></md-divider>
          </div>
          <div class='col-sm-2 search'>
            <button md-button>TORRENT</button>
          </div>
        </div>

      </div>
    </md-list>
  </div>

  <ng-template #other_content>
    <h3>No results</h3>
  </ng-template>
</div>
